@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth-wght.ttf");
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth-wght.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Syne";
  src: url("../fonts/Syne/Syne-VariableFont_wght.ttf");
}
body {
  min-height: 100vh;
  display: flex;
}

body {
  margin: 0;
  background-color: #00155E;
}

div.sidebar {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

div.right-content {
  display: grid;
}
div.right-content div.command-content {
  margin: 2em;
}
div.right-content div.command-content p.name {
  padding: 0.5em;
  font-family: "Syne";
  font-weight: 800;
}
div.right-content div.command-content div.desc {
  border-style: none none dotted;
  border-width: 1em;
  border-color: #00155E;
  transition: border-color 0.1s;
}
div.right-content div.command-content div.desc:hover {
  border-color: #F4BA23;
}
div.right-content div.command-content div.desc p.cog {
  font-family: "IBM Plex Mono";
  font-size: 1.5em;
  padding: 0.5em;
  font-style: italic;
}
div.right-content div.command-content div.desc p.cog::before {
  font-family: "Syne";
  content: "|// category -> ";
  font-weight: 900;
  font-style: normal;
}
div.right-content div.command-content div.desc p.help {
  margin-top: 3em;
  padding: 0.5em;
  border: 0.2em #F4BA23 dashed;
  border-radius: 0.5em;
  min-width: 40rem;
  max-width: 60rem;
}
div.right-content div.command-content div.desc p.help::before {
  margin-bottom: -2.5rem;
  display: block;
  padding: 0.9em;
  background-color: #F4BA23;
  border-radius: 100px;
  font-family: "Syne";
  font-size: 0.9em;
  content: "help info: ";
  justify-self: start;
  color: #00155E;
  position: relative;
  top: -50px;
  font-weight: 900;
  font-style: normal;
}

div.centered-left-margin {
  margin-top: 50vh;
  margin-left: 3rem;
}

div.sidebar {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 16em;
  max-height: calc(100vh - 2em);
  background: rgba(0, 21, 94, 0.7) url("noise.png");
}
div.sidebar a {
  background-color: #F4BA23;
  margin: 0.5em 0.6em;
  border-radius: 0.5em;
}
div.sidebar a,
div.sidebar p {
  display: block;
  padding: 0.7em;
  font-family: "IBM Plex Mono";
  font-size: 1em;
  color: #F4BA23;
  text-align: center;
}
div.sidebar a.svg-logo {
  background-color: transparent;
  padding: 1.1em;
}
div.sidebar p.sidebar-title {
  font-family: "Syne";
  color: #F4BA23;
  font-weight: 800;
}
div.sidebar a.side-item {
  text-align: left;
  background-color: #00155E;
  border: 0.1rem #F4BA23 solid;
}
div.sidebar a.side-bottom-item {
  margin-top: auto;
  margin-bottom: 1;
  background-color: #00155E;
  color: #F4BA23;
  border: 0;
  border-radius: 0;
  text-align: center;
}
div.sidebar a.side-bottom-item p {
  color: #F4BA23;
}

h1, h2, h3, h4 {
  font-family: "Syne";
  font-weight: 800;
  color: #F4BA23;
  font-size: 2em;
}

a, p {
  font-family: "IBM Plex Sans";
  color: #F4BA23;
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
