@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth-wght.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth-wght.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne/Syne-VariableFont_wght.ttf');
}
